@font-face {
    font-family: 'ONEPIECE';
    font-style: normal;
    font-weight: normal;
    src: local('ONEPIECE'), local('ONEPIECE');
}

* {
    font-family: 'ONEPIECE';
}
  
.pages {
    display: flex;
    justify-content: center;
}

  .header-button {
    background: linear-gradient(#7ac7d6, #0a508b);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .header-button:hover {
    background: red;
  }

  .description {
    display: flex;
    justify-content: center;
  }