.bounties {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
}

.bounty {
    width: 200px;
    height: 300px;
    border: none;
    padding: 10px;
    filter: grayscale(0%); /* Set initial state to color */
}

.bounty.caught{
    filter: grayscale(100%); /* Apply black and white effect */
  }