@font-face {
    font-family: 'ONEPIECE';
    font-style: normal;
    font-weight: normal;
    src: url('../data/fonts/onepiecefont.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Verdiky';
    font-style: normal;
    font-weight: normal;
    src: url('../data/fonts/Vertiky.ttf') format('truetype');
  }