.sample-image {
    position: relative;
    display: block;
    width: 920px; /* Original: 1840 */
    height: 650px;/* Original: 1300 */
    margin: 0 auto; /* Center image */
    object-position: top left; /* Set a static position */
    border: 1px solid beige;
}

.description {
    margin-top: 20px;
    font-family: 'ONEPIECE';
    color: antiquewhite;
    background: linear-gradient(#7ac7d6, #0a508b);
    display: flex;
    justify-content: center;
    border-top: 3px solid antiquewhite;;
    border-bottom: 3px solid antiquewhite;;
    width: 100%; /* Add this line to make it full width */
  }

  .explain{
    font-family: 'Vertiky';
    background: linear-gradient(#7ac7d6, #0a508b);
    padding-left: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid antiquewhite;
    border-bottom: 3px solid antiquewhite;;
  }

  .explain h3{
    font-size: 16px;
    color: antiquewhite;;
  }