.score-page {
}
.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .score-item {
    border: white 1px solid;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Vertiky';
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
  }
  
  .score-item:before {
    list-style-type: none;
  }
  
  .username,
  .time {
    margin: 5px 0;
  }
  
  .username {
    font-weight: bold;
    text-align: center;
  }
  
  .time {
    text-align: center;
  }
  
  .score-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .score-item:hover:before {
    color: #f8f8f8;
  }