.sticky-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .sticky-header.hidden {
    opacity: 0;
    pointer-events: none;
  }